.c-header {
  background-color: var(--primary-dark);
  padding: gap(4) 0;
  position: relative;

  @media (min-width: $md) {
    padding: 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .custom-logo-link {
    display: block;
    max-width: 194px;
    position: relative;
    z-index: 10;

    img {
      display: block;
    }
  }

  &__menu-toggle {
    flex: 0 0 gap(4);
    display: block;
    height: gap(4);
    width: gap(4);
    text-decoration: none;
    position: relative;

    @media (min-width: $md) {
      display: none;
    }

    .text {
      display: none;
    }

    .bar {
      display: block;
      width: 100%;
      height: 6px;
      background: var(--primary);
      position: absolute;
      right: 0;
      top: 0;
      transition: 0.25s ease-in-out;

      &:nth-child(2) {
        top: calc(50% - 3px);
      }

      &:nth-child(3) {
        top: calc(100% - 6px);
      }
    }

    &.is-active {
      z-index: 100;

      .bar {
        &:nth-child(1) {
          top: 50%;
          transform: rotate(135deg);
        }

        &:nth-child(2) {
          opacity: 0%;
        }

        &:nth-child(3) {
          top: 50%;
          transform: rotate(-135deg);
        }
      }
    }
  }

  .nav-primary {
    background-color: var(--primary);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0;
    z-index: 10;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;

    @media (min-width: $md) {
      position: relative;
      top: auto;
      left: auto;
      background-color: transparent;
      height: auto;
      max-height: unset;
      width: auto;
      z-index: unset;
      flex: 1;
      padding: 0;
      display: flex;
      justify-content: flex-end;
    }

    &.is-open {
      max-height: 100vh;
    }
  }

  .nav {
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: $md) {
      display: flex;
    }

    .menu-item {
      font-size: rem(18px);
      font-weight: 800;
      width: 100%;
      background-color: rgba($primary-dark, 0.95);

      &:nth-child(2) {
        background-color: rgba($primary-dark, 0.9);
      }

      &:nth-child(3) {
        background-color: rgba($primary-dark, 0.85);
      }

      &:nth-child(4) {
        background-color: rgba($primary-dark, 0.8);
      }

      &.donate {
        background-color: var(--primary);
        text-transform: uppercase;

        @media (min-width: $md) {
          margin-left: gap(3);
        }

        a {
          color: var(--primary-dark);
          display: flex;
          justify-content: center;
          align-items: center;

          @media (min-width: $md) {
            padding: gap(6);
          }

          &::before {
            content: "";
            display: inline-block;
            width: gap(3);
            height: gap(3);
            background: url("../../images/icon-donate.svg") no-repeat center;
            margin-right: gap(2);
          }
        }
      }

      a {
        display: block;
        width: 100%;
        padding: gap(4);
        color: var(--white);
        text-align: center;

        @media (min-width: $md) {
          padding: gap(6) gap(3);
        }
      }
    }
  }
}
