.c-button {
  appearance: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 800;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  color: var(--primary-dark);

  svg {
    margin-right: gap(1);

    path {
      fill: var(--primary-dark);
    }
  }

  &:hover {
    text-decoration: none;

    svg {
      animation: hover 0.5s linear;
    }
  }

  &--alt {
    color: var(--primary);

    svg {
      path {
        fill: var(--primary);
      }
    }
  }

  &--primary {
    padding: gap(3) gap(4);
    color: var(--primary-dark);
    background-color: var(--primary);

    svg {
      path {
        fill: var(--primary-dark);
      }
    }

    &:hover {
      color: var(--white);
      background-color: var(--primary-dark);

      svg {
        path {
          fill: var(--white);
        }
      }
    }
  }
}

@keyframes hover {
  50% {
    transform: translateX(6px);
    opacity: 0%;
  }

  51% {
    transform: translateX(-6px);
    opacity: 0%;
  }
}
