.c-button {
  appearance: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--primary-dark);

  svg {
    margin-right: gap(1);
  }

  &--alt {
    color: var(--primary);

    svg {
      path {
        fill: var(--primary);
      }
    }
  }
}
