.c-button {
  appearance: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--primary-dark);

  svg {
    margin-right: gap(1);
  }

  &--alt {
    color: var(--primary);

    svg {
      path {
        fill: var(--primary);
      }
    }
  }

  &:hover {
    text-decoration: none;

    svg {
      animation: hover 0.5s linear;
    }
  }
}

@keyframes hover {
  50% {
    transform: translateX(6px);
    opacity: 0%;
  }

  51% {
    transform: translateX(-6px);
    opacity: 0%;
  }
}
