.acf-block-preview,
.page-frontend {
  display: block;

  .c-select {
    border-bottom: 2px solid var(--primary-dark);
    display: inline-block;
    background-image: url("../../images/icon-chevron-down.svg");
    background-position: right center;
    background-repeat: no-repeat;

    select {
      @include th6;

      text-align: left;
      text-transform: uppercase;
      cursor: pointer;
      appearance: none;
      border: 0;
      color: var(--primary-dark);
      padding: gap(2) gap(4) gap(2) 0;
      background-color: transparent;
      box-shadow: 0;
      border-radius: 0;
      width: 100%;
      display: block;
    }
  }
}
